{% extends 'base.html' %}
{% load i18n %}

{% block site-title %}
<a href="/"><img id="site-logo" src="{{ config.static_url }}css/images/MF_challange.png"></a>
{% endblock %}

<!--
  This will place content at the top of the side bar
 -->
{% block sidebar %}
{% endblock %}

<!--
  This will place content in the colophon below the map
 -->
{% block colophon %}
<div class="footer-logos">
  <a class="footer-logo" href="http://ourmiami.org/"><span class="prompt">A project of</span><img src="{{ STATIC_URL }}css/images/ourmiami.png" class="ourmiami-logo"></a>
  <a class="footer-logo" href="http://ioby.org/"><span class="prompt">In collaboration with</span><img src="{{ STATIC_URL }}css/images/ioby-logo.jpg" class="ioby-logo"></a>
</div>
<p id="powered-by">{% blocktrans %}Powered by{% endblocktrans %} <a href="http://shareabouts.org/" class="shareabouts-logo" target="_blank">Shareabouts</a>, <span class="nobreak">a project of <a href="http://openplans.org/" class="openplans-logo" target="_blank">OpenPlans</a>.</span></p>
{% endblock %}

<!--
  Analytics, custom JS, and such go here
 -->
{% block includes %}
<script>
(function(S) {
  var placeRender = Shareabouts.PlaceDetailView.prototype.render;
  Shareabouts.PlaceDetailView.prototype.render = function() {
    var view = placeRender.call(this),
        iobyId = this.model.get('ioby_id');

    if (iobyId) {
      $.ajax({
        url: 'https://free-ec2.scraperwiki.com/b5pr75y/fd06f5327055496/sql/',
        data: {
          q: 'select * from swdata where id='+iobyId
        },
        dataType: 'jsonp',
        success: function(data, status, xhr) {
          var $template;
          if (data && data.length) {
            $template = $(Handlebars.templates['ioby-details'](data[0]));
            view.$('.ioby-details').html($template)
          }
        }
      });
    }

    return view;
  }
}(Shareabouts));

</script>
{% endblock %}
