{% extends 'base.html' %}
{% load i18n %}

{% block site-title %}
<a href="/"><img id="site-logo" src="{{ config.static_url }}css/images/MF_challange.png"></a>
{% endblock %}


{% block meta %}
  {% if place %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ place.properties.title }}">
    <meta name="twitter:description" content="{{ place.properties.description }}">
    {% with attachment=place.properties.attachments|first %}
      {% if attachment.file %}
        <meta name="twitter:image:src" content="{{ attachment.file }}">
      {% else %}
        <meta name="twitter:image:src" content="http://{{ request.get_host }}{{ STATIC_URL }}css/images/public-space-challenge-square.jpg">
      {% endif %}
    {% endwith %}

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ place.properties.title }}" />
    <meta property="og:description" content="{{ place.properties.description }}" />
    {% with attachment=place.properties.attachments|first %}
      {% if attachment.file %}
        <meta property="og:image" content="{{ attachment.file }}">
      {% else %}
        <meta property="og:image" content="http://{{ request.get_host }}{{ STATIC_URL }}css/images/public-space-challenge-square.jpg">
      {% endif %}
    {% endwith %}
  {% else %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ config.app.title }}">
    <meta name="twitter:description" content="{{ config.app.meta_description }}">
    <meta name="twitter:image:src" content="http://{{ request.get_host }}{{ STATIC_URL }}css/images/public-space-challenge-square.jpg">

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ config.app.title }}" />
    <meta property="og:description" content="{{ config.app.meta_description }}" />
    <meta property="og:image" content="http://{{ request.get_host }}{{ STATIC_URL }}css/images/public-space-challenge-square.jpg">
  {% endif%}
{% endblock %}


<!--
  This will place content at the top of the side bar
 -->
{% block sidebar %}
{% endblock %}

<!--
  This will place content in the colophon below the map
 -->
{% block colophon %}
<div class="footer-logos">
  <a class="footer-logo" href="http://ourmiami.org/"><span class="prompt">A project of</span><img src="{{ STATIC_URL }}css/images/ourmiami.png" class="ourmiami-logo"></a>
  <a class="footer-logo" href="http://www.hfsf.org/"><img src="{{ STATIC_URL }}css/images/hfsf-logo.gif" class="hfsf-logo"></a>
  <a class="footer-logo" href="http://ioby.org/"><span class="prompt">In collaboration with</span><img src="{{ STATIC_URL }}css/images/ioby-logo.jpg" class="ioby-logo"></a>
  <a class="footer-logo" href="http://www.miamiherald.com/"><img src="{{ STATIC_URL }}css/images/miamiherald-logo.gif" class="miamiherald-logo"></a>
</div>
<p id="powered-by">{% blocktrans %}Powered by{% endblocktrans %} <a href="http://shareabouts.org/" class="shareabouts-logo" target="_blank">Shareabouts</a>, <span class="nobreak">a project of <a href="http://openplans.org/" class="openplans-logo" target="_blank">OpenPlans</a>.</span></p>
{% endblock %}

<!--
  Analytics, custom JS, and such go here
 -->
{% block includes %}
<script src="{{STATIC_URL}}js/views/rating-view.js"></script>
<script>
(function(S) {
  S.bootstrapped.datasetUrl = '{{DATASET_ROOT|slice:":-1"}}';

  /*
   * Patch initializers to construct a rating view.
   */
  var initializeRatingView = function() {
    this.model.submissionSets['ratings'] = this.model.submissionSets['ratings'] ||
      new S.SubmissionCollection(null, {
        submissionType: 'ratings',
        placeModel: this.model
      });

    this.ratingView = new Shareabouts.RatingView({
      collection: this.model.submissionSets['ratings'],
      userToken: S.Config.userToken
    });
  }

  var placeDetailInitialize = Shareabouts.PlaceDetailView.prototype.initialize;
  Shareabouts.PlaceDetailView.prototype.initialize = function() {
    placeDetailInitialize.call(this);
    initializeRatingView.call(this)
  }

  var placeListItemInitialize = Shareabouts.PlaceListItemView.prototype.initialize;
  Shareabouts.PlaceListItemView.prototype.initialize = function() {
    placeListItemInitialize.call(this);
    initializeRatingView.call(this);
  }

  /*
   * Patch render to render ratings and ioby data.
   */
  var placeRender = Shareabouts.PlaceDetailView.prototype.render;
  Shareabouts.PlaceDetailView.prototype.render = function() {
    var view = placeRender.call(this),
        iobyId = this.model.get('ioby_id');

    // Render the rating view, as we do the support and survey views
    this.$('.rating').html(this.ratingView.render().$el);
    // Fetch for submissions and automatically update the element
    this.model.submissionSets['ratings'].fetchAllPages();

    // Render the associated data from ioby
    if (iobyId) {
      $.ajax({
        url: 'https://free-ec2.scraperwiki.com/b5pr75y/fd06f5327055496/sql/',
        data: {
          q: 'select * from swdata where id='+iobyId
        },
        dataType: 'jsonp',
        success: function(data, status, xhr) {
          var $template;
          if (data && data.length) {
            $template = $(Handlebars.templates['ioby-details'](data[0]));
            view.$('.ioby-details').html($template)
          }
        }
      });
    }

    return view;
  }

  var placeListItemOnRender = Shareabouts.PlaceListItemView.prototype.onRender;
  Shareabouts.PlaceListItemView.prototype.regions['rating'] = '.rating'
  Shareabouts.PlaceListItemView.prototype.onRender = function(evt) {
    placeListItemOnRender.call(this, evt);
    this.rating.show(this.ratingView);
  }

  var placeRenderList = Shareabouts.PlaceListView.prototype.renderList;
  Shareabouts.PlaceListView.prototype.renderList = function() {
    var view = placeRenderList.call(this);
    this.collection.each(function(model) {
      // Delegate the events so that the subviews still work
      this.views[model.cid].ratingView.delegateEvents();
    }, this);
    return view;
  }

  Shareabouts.AppView.prototype.toggleListView = function() {
    // Things are happier if we trigger the route change
    if (this.listView.isVisible()) {
      this.options.router.navigate('', {trigger: true});
      this.hideListView();
    } else {
      this.showListView();
      this.options.router.navigate('list', {trigger: true});
    }
  };

  Shareabouts.AppView.prototype.onClickClosePanelBtn = function(evt) {
    evt.preventDefault();
    S.Util.log('USER', 'panel', 'close-btn-click');
    if (this.mapView.locationTypeFilter) {
      this.options.router.navigate('filter/' + this.mapView.locationTypeFilter, {trigger: true});
    } else {
      this.options.router.navigate('/', {trigger: true});
    }
  };

  var appInitialize = Shareabouts.App.prototype.initialize;
  Shareabouts.App.prototype.initialize = function(options) {
    var self = this;

    this.route('filter/:locationtype', 'filterMap');

    appInitialize.call(this, options);

    this.bind('route', function(route) {
      if (route === 'filterMap' || route === 'viewPlace') {
        // Don't clear the filter
      } else {
        this.appView.mapView.clearFilter();
      }
    }, this);


    $(document).on('click', 'a[href^="/"]', function(evt) {
      var $link = $(evt.currentTarget),
          href = $link.attr('href'),
          url;

      // Handle /filter links
      if (href.indexOf('/filter') === 0) {
        evt.preventDefault();

        // Remove leading slashes and hash bangs (backward compatablility)
        url = href.replace(/^\//, '').replace('#!/', '');

        // # Instruct Backbone to trigger routing events
        self.navigate(url, { trigger: true });

        return false;
      }
    });
  };

  Shareabouts.App.prototype.filterMap = function(locationType) {
    this.appView.hidePanel();
    this.appView.hideNewPin();
    this.appView.destroyNewModels();
    this.appView.showAddButton();

    this.appView.mapView.filter(locationType);
  };

  var appViewMap = Shareabouts.App.prototype.viewMap;
  Shareabouts.App.prototype.viewMap = function() {
    appViewMap.call(this);
    this.appView.mapView.clearFilter();
  }

  Shareabouts.MapView.prototype.clearFilter = function() {
    var self = this;
    this.locationTypeFilter = null;
    this.collection.each(function(model) {
      self.layerViews[model.cid].render();
    });
  };

  Shareabouts.MapView.prototype.filter = function(locationType) {
    var self = this;
    console.log('filter the map', arguments);
    this.locationTypeFilter = locationType;
    this.collection.each(function(model) {
      var modelLocationType = model.get('location_type');

      if (modelLocationType &&
          modelLocationType.toUpperCase() === locationType.toUpperCase()) {
        self.layerViews[model.cid].show();
      } else {
        self.layerViews[model.cid].hide();
      }
    });
  };

  var layerViewShow = Shareabouts.LayerView.prototype.show;
  Shareabouts.LayerView.prototype.show = function() {
    if (!this.options.mapView.locationTypeFilter ||
      this.options.mapView.locationTypeFilter.toUpperCase() === this.model.get('location_type').toUpperCase()) {
      layerViewShow.call(this);
    } else {
      this.hide();
    }
  };

  Shareabouts.MapView.prototype.addLayerView = function(model) {
    this.layerViews[model.cid] = new S.LayerView({
      model: model,
      router: this.options.router,
      map: this.map,
      placeLayers: this.placeLayers,
      placeTypes: this.options.placeTypes,
      // to access the filter
      mapView: this
    });
  };

  $(document).on('click', 'a.why-sign-in', function(evt) {
    evt.preventDefault();
  });

  $(document).on('click', '.activity-item a', function(evt) {
    window.app.appView.mapView.clearFilter();
  })

}(Shareabouts));

Handlebars.registerHelper('newLineToBr', function(str) {
  if (str) {
    str = Handlebars.Utils.escapeExpression(str);
    return new Handlebars.SafeString(str.replace(/\r?\n|\r/g, '<br>'))
  } else {
    return str;
  }
});

</script>

{% if settings.GOOGLE_ANALYTICS_ID %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ settings.GOOGLE_ANALYTICS_ID }}', '{{ settings.GOOGLE_ANALYTICS_DOMAIN }}');
</script>
{% endif %}
{% endblock %}
