<p>We received your Public Space Challenge idea. Thank you for sharing!</p>

<p>Your Our Miami Public Space Challenge idea number is: {{ place.id }}</p>

<p>The link to your idea is: <a href="http://{{ request.get_host }}/place/{{ place.id }}" target="_blank">http://{{ request.get_host }}/place/{{ place.id }}</a>.</p>

<p>We hope you&rsquo;ll keep participating with us throughout the Challenge and beyond.</p>

<p>Here are more ways to make your idea come to life:</p>

<ul>
  <li>Stay connected, follow <a href="http://miamifoundation.org/" target="_blank">The Miami Foundation</a> on <a href="https://www.facebook.com/themiamifoundation" target="_blank">Facebook</a> and <a href="https://twitter.com/miamifoundation" target="_blank">Twitter</a>. Use the hashtag <a href="https://twitter.com/search?q=ourmiami&amp;src=typd" target="_blank">#OurMiami</a>.</li>
  <li>Learn how to make great public spaces with our partner <a href="http://www.pps.org/reference/reference-categories/placemaking-tools/" target="_blank">Project for Public Spaces</a>. Follow them on <a href="https://www.facebook.com/projectforpublicspaces" target="_blank">Facebook</a> &amp; <a href="https://twitter.com/PPS_Placemaking" target="_blank">Twitter</a>.</li>
  <li>Learn about how to crowdfund and crowd-resource your project with our partner <a href="http://ioby.org" target="_blank">IOBY.org</a>. Follow them on <a href="https://www.facebook.com/ioby.org" target="_blank">Facebook</a> &amp; <a href="https://twitter.com/ioby" target="_blank">Twitter</a>.</li>
</ul>

<p>Help raise awareness!</p>

<ul>
  <li>Support and comment on other Miamian&rsquo;s ideas on <a href="http://ideas.ourmiami.org" target="_blank">ideas.ourmiami.org</a>.</li>
  <li>Share your idea on <a href="http://facebook.com" target="_blank">Facebook</a> &amp; <a href="http://twitter.com" target="_blank">Twitter</a>, get your friends involved.</li>
  <li>Email <a href="http://{{ request.get_host }}/place/{{ place.id }}" target="_blank">your idea link</a> to your friends &amp; neighbors to build support for it.</li>
  <li>Support the Miami Herald&#39;s focus on public space by joining this <a href="http://pinsight.org/q/en/2ac656fa20e5" target="_blank">Public Insight Network survey</a></li>
</ul>

<p>Thanks again for working to make Our Miami better!</p>

<hr>

<p>Through the Our Miami initiative, The Miami Foundation fosters community by building attachment to the city, developing public spaces and retaining young talent in Miami. Our Miami uses research from their Soul of the Community Study that clearly shows activating public spaces and attracting young, talented and creative people in Greater Miami will grow the economy faster than other more traditional measures of economic development.</p>
