<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
		<td bgcolor="#ffffff" valign="top">

      <table width="600" cellpadding="0" cellspacing="0" align="center" style="font-family:Helvetica,Arial,sans-serif;background-color:#ffffff;line-height:1.5em;">
        <tr>
          <td valign="top">
            <br />
            <p><img src="http://{{ request.get_host }}{{ config.static_url }}css/images/mf-challange.gif" alt="Public Space Challenge" width="290" height="99" border="0" /></p>
            <br />
            <h3>We received your Public Space Challenge idea. Thank you!</h3>
            <h2>Here is a link to your idea on the map: <br /><a href="http://{{ request.get_host }}/place/{{ place.id }}" target="_blank" style="color:#00a4d0;">{{ place.properties.title }}</a></h2>
            <br />
            <h2>What now?</h2>
            <p><a href="http://{{ request.get_host }}/place/{{ place.id }}" style="border-radius:4px;font-weight:bold;text-decoration:none;padding:0.25em 0.4em;background-color:#a0af1e;color:#ffffff;">SHARE</a> your idea with your friends on social media (pssst&hellip; the idea that receives the most "likes" will get something special). Be sure to check out and comment on other ideas while you're at it.
              <br />
              <a href="https://twitter.com/intent/tweet?source=webclient&text=http://{{ request.get_host }}/place/{{ place.id }}" target="_blank" style=""><img src="http://{{ request.get_host }}{{ config.static_url }}css/images/twitter-32.png" border="0" /></a>
              <a href="https://www.facebook.com/sharer/sharer.php?u=http://{{ request.get_host }}/place/{{ place.id }}" target="_blank" style=""><img src="http://{{ request.get_host }}{{ config.static_url }}css/images/facebook-32.png" border="0" /></a>
            </p>
            <p><a href="http://{{ request.get_host }}" style="border-radius:4px;font-weight:bold;text-decoration:none;padding:0.25em 0.4em;background-color:#00a4d0;color:#ffffff;">&nbsp;SUBMIT&nbsp;</a> another idea. We know you have some more good ones! You have until April 8th to get ideas onto the map.</p>
            <p><a href="https://ioby.org/" style="border-radius:4px;font-weight:bold;text-decoration:none;padding:0.25em 0.4em;background-color:#753684;color:#ffffff;">&nbsp;START&nbsp;</a> working on your project now. Our partner <a href="https://ioby.org/" target="_blank" style="color:#00a4d0;"><strong>ioby</strong></a>&mdash;a tool for people who have great ideas for their neighborhoods&mdash;can help you get funding and volunteers now.</p>
            <br />
            <p>If you have any questions, we'll be standing by at <a href="mailto:ourmiami@miamifoundation.org" target="_blank" style="color:#00a4d0;">ourmiami@miamifoundation.org</a>.</p>
            <p>Thanks for your help in making Our Miami better!</p>
            <p>Stuart Kennedy <br />Senior Programs Officer <br />The Miami Foundation</p>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <br />
            <br />
            <hr />
            <br />
            <br />
          </td>
        </tr>
      </table>
      <table width="600" cellpadding="0" cellspacing="0" align="center" style="font-family:Helvetica,Arial,sans-serif;background-color:#ffffff;">
        <tr>
          <td valign="top">
            <img src="http://{{ request.get_host }}{{ config.static_url }}css/images/ourmiami.gif" alt="The Miami Foundation" width="200" height="61" border="0" />
          </td>
          <td valign="top">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </td>
          <td valign="top">
            <p>Through the Our Miami initiative, <a href="http://miamifoundation.org" target="_blank" style="color:#00a4d0;">The Miami Foundation</a> fosters community by building attachment to the city, developing public spaces and retaining young talent in Miami. Our Miami uses research from their Soul of the Community Study that clearly shows activating public spaces and attracting young, talented and creative people in Greater Miami will grow the economy faster than other more traditional measures of economic development.</p>
          </td>
        </tr>
      </table>

      <br />
      <br />

    </td>
  </tr>
</table>
